{% extends "app1/base.html" %}
{% block title %}index{% endblock %}

{% block content %}
<div class="container">
    <h1>index page</h1>
    <br>
    <br>
    {{ error_list }}
  
    <form method="POST">
        {% csrf_token %}

        <span>
            <p>Number:
            <input type="number" name="number" min="0">
            </p>
        </span>
        <span>
            <p>Name:
            <input type="text" name="name" maxlength="200">
            </p>
        </span>
        <span>
            <p>Price:
            <input type="number" name="price" min="0">
            </p>
        </span>

        <button type="submit" name="submit">送信</button>
    </form>

</div>
{% endblock %}
